html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #120031;
  background-color: #FFFDFD;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 5em;
  margin: 0.5em auto 0.05em;
}

a {
  color: #05707C;
}

.wrapper {
  width: 100%;
}

header {
  text-align: center;
  margin: 0 0 4em;
}

.subhead {
  font-size: 1.5em;
}

.info {
  display: block;
  text-align: center;
}

.outbound-links {
  list-style: none;
  margin: 0;
  padding-top: 2em;
  text-align: center;
  font-size: 1.3em;
}

.outbound-links li {
  display: inline-block;
  margin: 0 20px 2em;
}

.email-link,
.github-link,
.linkedin-link,
.jakme-link {
  display: inline-block;
  padding-left: 1.6em;
  margin: 0 0 0.5em;
}

.email-link {
  background: url(../icons/email.svg) left center no-repeat;
  background-size: auto 100%;
}

.github-link {
  background: url(../icons/github.svg) left center no-repeat;
  background-size: auto 100%;
}

.linkedin-link {
  background: url(../icons/linkedin.svg) left center no-repeat;
  background-size: auto 100%;
}

.jakme-link {
  background: url(../icons/jakme.svg) left center no-repeat;
  background-size: auto 100%;
}

.item-summary {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

