html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #120031;
  background-color: #FFFDFD;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 5em;
  margin: 0.5em auto 0.05em;
}

a,
a:active,
a:visited {
  color: #05707C;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  width: 100%;
}

header {
  text-align: center;
  margin: 0 0 2em;
}

.subhead {
  font-size: 1.5em;
}

.info {
  display: block;
  text-align: center;
  padding: 0% 15%;
}

.outbound-links {
  list-style: none;
  margin: 0;
  padding-top: 2em;
  text-align: center;
  font-size: 1.3em;
}

.outbound-links li {
  display: inline-block;
  margin: 0 20px 1em;
}

.email-link,
.github-link,
.linkedin-link,
.jakme-link {
  display: inline-block;
  margin: 0 0 0.5em;
}

.link-icon {
  display: block;
  float: left;
  height: 1.6em;
  width: 1.6em;
}

.email-link .link-icon {
  background: url(../icons/email.svg) left top no-repeat;
  background-size: auto 80%;
}

.github-link .link-icon {
  background: url(../icons/github.svg) left top no-repeat;
  background-size: auto 80%;
}

.linkedin-link .link-icon {
  background: url(../icons/linkedin.svg) left top no-repeat;
  background-size: auto 80%;
}

.jakme-link .link-icon {
  background: url(../icons/jakme.svg) left top no-repeat;
  background-size: auto 80%;
}

.item-summary {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

